[submodule "calculator-app"]
	path = calculator-app
	url = https://github.com/SSAKPAL1608/calculator-app.git
[submodule "calculator-app-automation"]
	path = calculator-app-automation
	url = https://github.com/SSAKPAL1608/calculator-app-automation.git
[submodule "google_secret_manager"]
	path = google_secret_manager
	url = https://github.com/SSAKPAL1608/google_secret_manager.git
[submodule "Vault"]
	path = Vault
	url = https://github.com/SSAKPAL1608/Vault.git
[submodule "jenkins_x_teraform"]
	path = jenkins_x_teraform
	url = https://github.com/SSAKPAL1608/jenkins_x_teraform.git
[submodule "jenkins_gke_test"]
	path = jenkins_gke_test
	url = https://github.com/SSAKPAL1608/jenkins_gke_test.git
